//---------------reset-------------------------
HTML{
  --p:1.3em;
}
body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }
  //-----------------------------------------------------------------Colors
$P1color: hsl(0, 0%, 94%);

$snow4: hsl(0, 1%, 54%);

$snow2:hsl(0, 13%, 92%);

$ivoryblack:hsl(22, 11%, 15%);

$cafeamericano:hsl(31, 37%, 15%);

$black:hsl(0, 0%, 0%);

$mistyrose4:hsl(7, 6%, 51%);

$Calert: hsl(355, 77%, 52%);

$Ccaution:hsl(240, 100%, 31%);
  
$Cdanger:hsl(34, 100%, 54%);

$Csucess:hsl(104, 73%, 29%);

  //-----------------------------------------------------------------Main App Stuff

.App {
  text-align: center;
}
.heropanel{
  background:url("https://images.unsplash.com/photo-1538402074774-8e624f3f7e5d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e0293f0d23f26cf12f31eba13a264bc6&auto=format&fit=crop&w=2775&q=80") no-repeat fixed;
  background-size: cover;
}
.heropanel.blurred-image {
  opacity:0;
  -webkit-filter: blur(20px) brightness(0.7);
  -ms-filter: blur(20px) brightness(0.7);
  -o-filter: blur(20px) brightness(0.7);
  filter: blur(20px) brightness(0.7);
}

.v-header{
  position: flex;
  margin: auto;
  right: 0;
  left: 0;
  width: 100px;
  width: 1000px;
  background: $snow4 url("https://images.unsplash.com/photo-1538402074774-8e624f3f7e5d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e0293f0d23f26cf12f31eba13a264bc6&auto=format&fit=crop&w=2775&q=80") no-repeat fixed;
  background-size: cover;
  border-radius: 3px;
  height: 100vh;
  max-width: 1200px;
}
.mainBg{
  background: $snow2;
}
.mainShape{
  display: grid;
  position: flex;
  grid-gap: 1rem;
  grid-template-columns: 30px 1fr 480px 1fr 30px;
  grid-auto-rows: min-content max-content auto;
  align-items: baseline;
  margin: auto;
  right: 0;
  left: 0;
  width: 100px;
  width: 1000px;
  background-color: $snow4;
  border-radius: 3px;
  height: 100vh;
  max-width: 1200px;

}
// ---------------------------grid items

.mainShapeTitle{
  grid-column: 2/-2;
  background:$snow2;
  align-self: baseline;
}
.mainShapeTitle2{
  background:$cafeamericano;
  grid-column: 2;
  grid-row:2/auto;
  justify-content: center;
}
.mainShapeTitle3{
  background:$snow2;
  grid-row:2/auto;
  grid-column: 3;
}
.mainShapeTitle4{
  background:$cafeamericano;
  grid-row:2;
  grid-column: 4;
}



// ---------------------------end grid items
.bgPic{
  z-index: -300;
  display: absolute;
  size:cover;
}
.App-logo {
  display: relative;
  max-width: 500px;
  height: 75vmin;
  padding: 1.3rem;
}
.appLogoContainer{
  display: inline-block;
  background: red;
  padding: --p;
  margin-top: 45px;
  text-align: center;
  align-items: center;
  align-content: center;
  justify-content: center;
  width:600px;
}

.App-header {
  background-color: $Ccaution;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: $P1color;
}
.App-title{
 display: inline-block;
 background: $Calert;
}
.AppTitle{
  margin-top: -1rem;
}
.App-link {
  color: $ivoryblack;
}
//----------------------------------animations
/*@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/
//---------------------------------------fucking video
/* Style the video: 100% width and height to cover the entire window */
#background-video{

  height: 100%;
  width: 100%;
  float: left;
  top: 0;
  padding: none;
  position: fixed; /* optional depending on what you want to do in your app */
  
  
  }

/* Add some content at the bottom of the video/page */
.content {
  position: fixed;
  bottom: 0;
  opacity: .5;
  background: $black;
  color: $snow4;
  width: 100%;
  padding: 20px;
}

/* Style the button used to pause/play the video */
#myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: $black;
  color: $snow4;
  cursor: pointer;
}

#myBtn:hover {
  background: $snow4;
  color: black;
}
//------------------trying to import the 

/*---------------------------------------nav/cart/sliderside*/

.toggleButton{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 24px;
  width: 30px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  box-sizing: border-box;
}

.toggleButton :focus{
  outline: none;
}

.toggleButtonLine {
  width: 25px;
  height: 2px;
  background: $cafeamericano;
}
//---------------------------side drawer main

.sideDrawer {
  height:100%;
  background: $snow4;
  opacity: .5;
  box-shadow: 2px 0px 10px $black;
  position: fixed; 
  top:0;
  left: 0;
  width:240px;
  z-index: 200;
  transform: translatex(-100%);
  transition: 0.3s ease-out;
  .itemsShelf{
      display:none;
  }
}
.sideDrawer.open {
  transform: translateX(0);
  .itemsShelf{
      display:none;
  }
  .Cart{
      height:100%;

      .mainCart {
          display: grid;
          grid-template-columns: 40px 30px 95px 30px 40px;
          grid-template-rows: 40px 40px 40px 40px 40px 40px 40px 40px;
          grid-auto-rows: 40px;
          background: $snow4;
          border-bottom: solid black 2px;
          list-style: none;
          text-decoration: none;
          list-style-type:none;
          justify-content: center;
          height:100%;

          .titleCart1{
              grid-column: 1;
              grid-row: 1;
              justify-content: center;
          }
          .titleCart2{
              grid-row:2;
              grid-column: 1/-1;
              border-bottom: black solid 1px;

          }
          hr{
              grid-row: 2;
              grid-column: 1/-1;
          }
          ul{
              top:20%;
              grid-column: 2/-1;
              grid-row:3/-2;
              display: relative;
          li{
              grid-column: 2/-1;
              grid-row: auto;
          }
          }
          .purchase{
              display:relative;
              grid-column: 2;
              grid-row: -1;
              button{
                  background-color: $snow4;
                  border: black solid 1px;
                  color: $snow4;
                  padding: 8px 8px;
                  text-align: center;
                  justify-content: start;
                  text-decoration: none;
                  display: inline-block;
                  font-size: 16px;
                  margin: 4px 2px;
                  -webkit-transition-duration: 0.4s; /* Safari */
                  transition-duration: 0.4s;
              }
              button:hover {
                  background-color: $Csucess;
                  color: $snow4;
              }
          }
          }
      }
  }
.sideDrawer ul{
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: $snow4;

}
.sideDrawer li {
  margin: 0.5rem 0;
}


.sideDrawer a{
  columns: $snow4;
  text-decoration: none;
}
.sideDrawer a:hover,
.sideDrawer a:active{
  color: orange;
}
@media (min-width: 4000px){
  .sideDrawer {
      display: none;
  }
}
//--------------------------------------more nav bar
.toolBar {
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  opacity: .3;
  background: $black;
  height: 3em;
  z-index: 150;
}
.toolBarNav{
  display: flex;
  height:100%;
  align-items: center;
  padding: 0 1rem;
}
.toolBarLogo{
  position: absolute;
  text-align: center;
  right:3%;
  word-spacing: -.2rem;

}
.toolBarLogo a{
  color:$snow4;
  text-decoration: none;
  font-size: 2rem; 
  word-spacing: -.2rem;
}
.spacer {
  flex:1;
}

.toolBarNavItems ul{
  list-style: none;
  margin:0;
  padding:0;
  display: flex;
}
.toolBarNavItems li{
  padding: 0 0.5rem;
}
.toolBarNavItems a{
  color:$snow4;
  text-decoration: none;
}

.toolBarNavItems a:hover,
.toolBarNavItems a:active {
  color: $Cdanger;
}
//----------------------------------adapting previous code to fit.
@media (max-width: 4000px){
  .toolBarNavItems{
      display: none;
  }
}
@media (max-width: 530px){
  @media(min-width:340px){
      .toolBarLogo a{
       font-size: 4vw;
       word-spacing:-.4vw ;
       text-align: center;
      }
  }
}
@media (max-width: 339px){
      .toolBarLogo a{
       font-size: 4vw;
       text-align: center;
      }
      .toolBar{
          height: 2em
      }
}
@media(min-width: 4000px) {
  .toolBarToggle{
      display:none;
  }
  .toolBarLogo{
      margin-left:0;
  }
}
//-----------------------------------------blackness once things are open.
.backdrop{
  position:fixed;
  width:100%;
  height:100%;
  top:0;
  left:0;
  background:$black;
  opacity: .3;
  z-index: 100;
}
.icon {
  height:6vh;
  display:flex;
  svg{
      height:4vh;
      color: $snow4;
  }
};
// ---------------------------------------blackdrop lol
.backdrop{
  position:fixed;
  width:100%;
  height:100%;
  top:0;
  left:0;
  background:$black;
  opacity: .3;
  z-index: 100;
}
// -------------------------------------drawer toggle button
.toggleButton{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 24px;
  width: 30px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  box-sizing: border-box;
}

.toggleButton :focus{
  outline: none;
}

.toggleButtonLine {
  width: 25px;
  height: 2px;
  background: white;
}
//---------------------------- Side Drawer
.sideDrawer {
  height:100%;
  background: white;
  box-shadow: 2px 0px 10px $black;
  opacity: .5;
  position: fixed;
  top:0;
  left: 0;
  width:200px;
  z-index: 200;
  transform: translatex(-100%);
  transition: 0.3s ease-out
}
.sideDrawer.open {
  transform: translateX(0)
}
.sideDrawer ul{
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.sideDrawer li {
  margin: 0.5rem 0;
}


.sideDrawer a{
  columns: $snow4;
  text-decoration: none;
}
.sideDrawer a:hover,
.sideDrawer a:active{
  color: $snow4;
}
@media (min-width: 769px){
  .sideDrawer {
      display: none;
  }
}
// ________________ toolbar
.toolBar {
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  background: $snow4;
  height: 3em;
  z-index: 150;
}
.toolBarNav{
  display: flex;
  height:100%;
  align-items: center;
  padding: 0 1rem;
}
.toolBarLogo{
  margin-left: 1rem;
}
.toolBarLogo a{
  color:white;
  text-decoration: none;
  font-size: 2rem;
}
.spacer {
  flex:1;
}

.toolBarNavItems ul{
  list-style: none;
  margin:0;
  padding:0;
  display: flex;
}
.toolBarNavItems li{
  padding: 0 0.5rem;
}
.toolBarNavItems a{
  color:white;
  text-decoration: none;
}

.toolBarNavItems a:hover,
.toolBarNavItems a:active {
  color: $snow4;
}
// -----------------------------------footer
.footer{
  display: flex;
  font-size: .7rem;
}
// ------------------------------------media queries
@media (max-width: 768px){
  .toolBarNavItems{
      display: none;
  }
}
@media (max-width: 530px){
  @media(min-width:340px){
      .toolBarLogo a{
       font-size: 4vw;
       word-spacing:1vw ;
       text-align: center;
      }
  }
}
@media (max-width: 339px){
      .toolBarLogo a{
       font-size: 4vw;
       text-align: center;
      }
      .toolBar{
          height: 2em;
      }
}
@media(min-width: 769px) {
  .toolBarToggle{
      display:none;
  }
  .toolBarLogo{
      margin-left:0;
  }
}
// ---------------media query section
@media (min-width: 4000px){
  .sideDrawer {
      display: none;
  }
    @media (max-width: 4000px){
      .toolBarNavItems{
          display: none;
      }
  }
  @media (max-width: 530px){
      @media(min-width:340px){
          .toolBarLogo a{
          font-size: 4vw;
          word-spacing:-.4vw ;
          text-align: center;
          }
      }
  }
  @media (max-width: 339px){
          .toolBarLogo a{
          font-size: 4vw;
          text-align: center;
          }
          .toolBar{
              height: 2em;
          }
  }
  @media(min-width: 4000px) {
      .toolBarToggle{
          display:none;
      }
      .toolBarLogo{
          margin-left:0;
      }
  };
  @media (max-width: 339px){
    .toolBarLogo a{
    font-size: 4vw;
    text-align: center;
    }
    .toolBar{
        height: 2em;
    }
  }
  @media(min-width: 4000px) {
    .toolBarToggle{
        display:none;
    }
    .toolBarLogo{
        margin-left:0;
    }
  }
}